<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{ISO8601} level=[%level] logger=[%logger] thread=[%thread] message=[%message] %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
        </encoder>
    </appender>

    <logger name="controllers" level="WARN"/>
    <logger name="services" level="WARN"/>
    <logger name="models" level="OFF"/>
    <logger name="repositories" level="WARN"/>
    <logger name="connector" level="WARN"/>
    <logger name="transformers" level="WARN"/>
    <logger name="utils" level="OFF"/>
    <logger name="reactivemongo.core.protocol.MongoHandler" level="OFF"/>
    <logger name="reactivemongo.api.MongoConnection" level="OFF"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
